{
    "name": "ExcelCustomPackage",
    "label": "[[label]]",
    "description": "[[description]]",
    "sessionType": {
        "label" : "[[sessionLabel]]",
        "description" : "[[sessionDescription]]",
    },
    "group": "DaVita",
    "artifactName": "",
    "packageVersion": "",
    "codeVersion": "",
    "author": "",
    "commands": []
 }